table {
    width: 100%;
    height: 300px;
    text-align: center;
    border: 5px solid green;
    border-collapse: collapse;
 }
 
 th, td {
    border: 1px solid red;
 }
 
 td:hover {
    background-color: lightcoral;
    color: white;
 }

/* Start Webpage Design Here */

 .logo {
   
}

.header {
   text-align: center;
}

fieldset {
   margin-bottom: 100px;
}

label:nth-child(2) {color: blueviolet;}

label:nth-child(3) {color: yellowgreen;}

label:nth-child(4) {color: purple}

label:nth-child(5) {color: orange;}